
body {
  background-color: lightgrey;
}

* {
  cursor: pointer;
}

.test-cases {
  display: none;
  position: fixed;
  text-align: center;
  font-size: 5vw;
  top: -2.5vw;
  width: 100%;
  background-color: white;
}

.test-cases span {
  margin: 2.5vw;
}

.DatePicker {
  background-color: white;
  border-bottom: 0.25vw solid black;
  display: block;
  text-align: center;
  font-size: 5vw;
  padding: 3vw;
}

.DatePicker span {
  font-size: 2.5vw;
  margin: 1vw;
}

.datepicker-date {
  font-size: 2.5vw;
  margin: -4vw;
}

.datepicker-date input[type=number] {
  text-align: center;
  font-size: 2.5vw;
  padding: 0.5vh;
  margin: 0.50vh 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 0.25vw solid black;
}

.datepicker-date #submit{ 
  background-color: white;    
  border-style: 0.25vw solid black;  
  font-size: 2vw;
}

.no-data-available {
  width: 90%;
  text-align: center;
  background-color: white;
  border: 0.25vw solid black;
  font-size: 3vw;
  padding: 1vw;
  margin-bottom: 2vw;
}

#no-data-available-sorry {
  font-size: 2.5vw;
  font-style: italic;
}

.GamesList {
  display: inline-block;
  position: absolute;
  left: 2vw;
  width: 40%;
  margin: 2vw;
  overflow-y: scroll;
  max-height: 100%;
}

.gameslist-guide {
  margin-right: 2vw;
  text-align: center;
  font-size: 2vw;
}

.gameslist-container {
  background-color: white;
  border: 0.25vw solid black;
  font-size: 3.5vw;
  padding: 1vw;
  margin-bottom: 2vw;
  width: 85%;
}

/* .gameslist-teams-and-scores {
  border: 0.25vw solid black;
} */

.gameslist-teams-and-scores span {
  font-size: 3vw;
  margin-left: 2vw;
}

.gameslist-teams {
  position: relative;
  display: inline-block;
  text-align: left;
}

.gameslist-teams p, .gameslist-scores p, .gameslist-venue p {
  margin: -0.015vw;
}

.gameslist-scores {
  text-align: right;
  float: right;
}
.gameslist-status {
  text-align: center;
  margin: -1vw;
  font-size: 2.5vw;
  font-style: italic;
}

.gameslist-venue {
  text-align: center;
  font-size: 1.5vw;
}

.gameslist-no-games-today {
  width: 90%;
  text-align: center;
  background-color: white;
  border: 0.25vw solid black;
  font-size: 3vw;
  padding: 1vw;
  margin-bottom: 2vw;
  width: 85%;
}

#gameslist-no-games-today-sorry {
  font-size: 2.5vw;
  font-style: italic;
}

.GameStats {
  background-color: white;
  position: absolute;
  float: right;
  right: 2vw;
  width: 50%;
  margin: 2vw;

}

.gamestats-container {
  background-color: white;
  border: 0.25vw solid black;
  padding: 1vw;
  max-width: 100%;
}

.gamestats-scoretable {
  text-align: left;
  font-size: 3vw;
  display: table;
  margin: 0 auto;
}

.gamestats-teams {
  text-align: center;
  font-size: 2.5vw;
  margin: 4vw;
}

.gamestats-teams-bold {
  font-weight: bold;
}

.gamestats-teams p {
  margin: -1vw;
}

.gamestats-teams hr {
  width: 75%;
}

.gamestats-batterstats {
  text-align: left;
  font-size: 2.25vw;
  display: table;
  margin: 0 auto;
}

.gamestats-batterstats th, .gamestats-batterstats td, 
.gamestats-scoretable th, .gamestats-scoretable td{
  padding: 0.25vw;
}

